<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @status.user_id %>
</p>

<p>
  <strong>Status text:</strong>
  <%= @status.status_text %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
