<div class="banner">

    <table width="100%">
      <tr valign="top">
        <td width="70%">
            <%=image_tag ('logo.png') , :class => :logo%>
        </td>

        <td width="15%"><%=image_tag ('location-icon.gif') , :class => :location %> </td>
        <td width="15%">
          <br/>
          <p class="location-info">上 海</p>
          <p class="location-info"> 9 &nbsp;年</p>
        </td>
      </tr>
    </table>
</div>

<% if @user == nil %>

    <% if params[:id] == nil %>
    <%= link_to '完善我的昵称信息' , new_alias_path %>
    <% end %>

<% else %>
    <div class="user-board">
    <%=image_tag @user.avatar.url(:medium) , :class => 'img-circle' %>
    <p><%= @user.name %></p>
    </div>

    <div class="row">
    <% @user.user.titles.each do |title| %>
        <div class="col-md-2 col-sm-2" align="center" style="display: inline">

          <div class="medal-body" style="background: <%= title.color %>;color:#ffffff;">
            <%= image_tag title.icon.url(:medium) , :class => 'medal-icon' %>
            <span class="medal-title"><%= title.name %></span>
          </div>
        </div>
    <% end %>
    </div>

    <div class="status">

      <%=@user.statuses.last.status_text %>

    </div>

    <div class="comment text-center">
     <a class="comment-link" href="<%=url_for list_comment_path(@user.id)%>"><%= image_tag ('like-icon.gif') , :class => :like %> ( 已有 <%= @user.comments.length %> 好友评论)</a>
    </div>

    <% if current_user %>
    <div align="center">
      <%= form_for(@comment) do |f| %>
            <%= f.hidden_field :alias_id , :value => @user.id %>
            <%= f.text_field :comment , :class => 'input-comment' %>
            <%= f.submit '评论' , :class => 'btn btn-lg btn-primary' %>
      <% end %>
    </div>
    <% end %>

    <style>
      .panel {
          background: #D43A3D;
      }
    </style>
<% end %>
